[gui]
	fontdiff = -family \"Source Code Pro\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
[init]
	templatedir = ~/.git_template
[push]
	default = current
[color]
	ui = auto
[color "status"]
  added = green
  changed = yellow bold
  untracked = red bold
[core]
	editor = vim
	autocrlf = input
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | less -n
[commit]
	template = ~/.gitmessage
[fetch]
	purne = true
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
[help]
  autoCorrect = 10
[log]
  decorate = full
[cola]
	fontdiff = Source Code Pro,11,-1,5,50,0,0,0,0,0
[include]
	path = ~/.gitconfig.local
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[rebase]
  autoStash = true
[status]
  showUntrackedFiles = all
[stash]
  showPatch = true
[http "https://gopkg.in"]
	followRedirects = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
